# Hardhat/Backend Configuration
# Used for hardhat tasks and server-side logic
RPC_URL=https://mainnet.base.org
EXPLORER_URL=https://basescan.org

# API Key for programmatic contract verification on Basescan via the API route
# Get yours from https://basescan.org/myapikey

BASESCAN_API_KEY=""

# ---

# Next.js Public Environment Variables
# Prefixed with NEXT_PUBLIC_ to be exposed to the browser
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_BASESCAN_API_URL=https://api.etherscan.io/v2/api?chainid=8453
NEXT_PUBLIC_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_EXPLORER_URL=https://basescan.org

# ---

# Local testing with a custom server (e.g., server.js) - Optional
USE_HTTPS=false
PORT=3000
